/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Roboto Slab';
    background-color: #E7CFCD;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #B5C9C3;
    padding-top: 40px;
    padding-bottom: 40px;
}